<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Error</title>
    <link
      rel="shortcut icon"
      href="/static/img/favicon.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/common.css" />
    <link rel="stylesheet" href="/static/css/404.css" />
    <link rel="stylesheet" href="/static/css/snow.css" />
  </head>
  <body>
    <div id="wrap">
      <div class="font-box">
        <h1 class="logo">
          <a href="/"><img src="/static/img/logo.png" alt="마음푸쉬로고" /></a>
        </h1>
        <h2>🚨404 Error</h2>
        <p>죄송합니다. 해당 URL은 접근할 수 없는 주소입니다.</p>
        <a href="/">HOME</a>
        <canvas id="canvas"></canvas>
      </div>
    </div>
  </body>
</html>
