<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WELCOME</title>
    <link
      rel="shortcut icon"
      href="/static/img/favicon.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/common.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="wrap">
      <header>
        <h1 class="logo">
          <img src="/static/img/logo.png" alt="마음푸쉬로고" />
        </h1>
        <span>
          전하지 못한 마음이 아직 남아있나요? <br />
          당신의 마음을 글로 적어 상대방 마음에 푸시 해보세요!</span
        >
        <span class="count">함께 마음을 더한 사용자 <%= userCount %>명</span>
        <a href="/login" class="start"
          ><span class="highlight">롤링페이퍼 시작하기</span></a
        >
      </header>

      <!-- <article>
        <h2>마음푸쉬하기</h2>
        <h3>다른 이용자들의 롤링페이퍼를 구경해보세요</h3>
        <ul class="letter">
          <li class="letter-box">
            <span class="nickname">닉네임</span>
            <span class="count">12명 참여</span>
          </li>
        </ul>
      </article> -->
    </div>
  </body>
</html>
