<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="shortcut icon"
      href="/static/img/favicon.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/common.css" />
    <link rel="stylesheet" href="/static/css/login.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="wrap">
      <h1 class="logo">
        <a href="/"><img src="/static/img/logo.png" alt="마음푸쉬로고" /></a>
      </h1>
      <div class="form">
        <h2>Members Login</h2>
        <p>아래 아이디와 비밀번호를 입력하세요</p>
        <label for="userId">
          <input
            type="text"
            name="userId"
            id="userId"
            class="input-box"
            placeholder="아이디를 입력하세요"
          />
        </label>
        <br />
        <label for="userPw">
          <input
            type="password"
            name="userPw"
            id="userPw"
            class="input-box"
            placeholder="비밀번호를 입력하세요"
          />
        </label>
        <br />
        <button onclick="login()" class="login">로그인</button>
      </div>
      <script>
        function login() {
          axios
            .post("/login", {
              userId: document.querySelector("#userId").value,
              userPw: document.querySelector("#userPw").value,
            })
            .then((result) => {
              if (result.data.isLogin === false) {
                console.log(result.data.isLogin);
                alert("로그인 실패!");
              } else {
                window.location = `/login/${
                  document.querySelector("#userId").value
                }`;
              }
            });
        }
      </script>
      <br />
      <hr />
      <p>아이디가 없으신 분은 회원가입을 해주세요</p>
      <a href="/signup" class="signup">회원가입</a>
    </div>
  </body>
</html>
