#wrap {
  .logo {
    font-family: "GmarketSansMedium";
    color: #fff;
    font-size: 2em;
    line-height: 2em;
    text-align: center;

    img {
      width: 150px;
      padding: 40px;
    }
  }

  .form {
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    background: url(/static/img/paper.png);
    color: #333;

    h2 {
      padding: 40px 0 15px;
      font-size: 1.6em;
    }

    p {
      padding: 0 0 40px;
      letter-spacing: -1;
    }

    .input-box {
      outline: none;
      border: 1px solid gray;
      border-radius: 5px;
      display: inline-block;
      padding: 15px;
      width: 80%;
      margin: 0px 0px 10px;
    }

    .login {
      background: url("../img/marker.svg") 50% 0 no-repeat;
      padding: 30px;
      width: 80%;
      margin: 40px 0;
      border-radius: 5px;
      font-family: "GmarketSansMedium";
    }
  }

  hr {
    width: 90%;
    margin: 10px auto 20px;
  }

  p {
    text-align: center;
  }

  .signup {
    display: block;
    width: 80%;
    padding: 15px;
    background: #fff;
    color: black;
    margin: 20px auto;
    border-radius: 5px;
    text-align: center;
  }
}
