#wrap {
  a {
    display: block;
    width: 150px;
    margin: 0 auto;

    img {
      width: 150px;
      padding: 40px 0;
    }
  }

  form {
    background: url(/static/img/paper.png);
    color: #333;
    width: 90%;
    border-radius: 5px;
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;

    h2 {
      padding-bottom: 50px;
      font-size: 1.6em;
      text-align: center;
    }

    label {
      font-family: "Pretendard-Regular";
      padding: 3px 0;
    }

    .idCheckAlert {
      font-size: 0.9em;
      color: blue;
      // margin: 0 0 20px;
    }
    .input-box {
      outline: none;
      border: 1px solid gray;
      border-radius: 5px;
      display: inline-block;
      padding: 15px;
      width: 90%;
      margin: 5px 0px 10px;
      font-family: "Pretendard-Regular";
    }

    .signupBtn {
      background: url("../img/marker.svg") 50% 0 no-repeat;
      padding: 40px;
      width: 100%;
      margin: 40px 0 0;
      border-radius: 5px;
      font-family: "GmarketSansMedium";
    }
  }
}
